{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

echo "~ homebrew"

brew bundle --no-lock --no-upgrade --file=/dev/stdin <<EOF
{{- if .packages.darwin.taps }}
# Global taps
{{ range .packages.darwin.taps -}}
tap "{{ . }}"
{{ end }}
{{ end }}

{{- if .packages.darwin.brews }}
# Global packages
{{ range .packages.darwin.brews -}}
brew "{{ . }}"
{{ end }}
{{ end }}

{{- if .packages.darwin.thirdparty }}
# Global packages
{{ range .packages.darwin.thirdparty -}}
brew "{{ . }}"
{{ end }}
{{ end }}

{{- if .packages.darwin.casks }}
# Global casks
{{ range .packages.darwin.casks -}}
cask "{{ . }}"
{{ end }}
{{ end }}

{{- if .packages.darwin.mas }}
# Global app store apps
{{ range .packages.darwin.mas -}}
mas "{{ .name }}", id: {{ .id }}
{{ end }}
{{ end }}
EOF

/usr/bin/xattr -r -d com.apple.quarantine ~/Library/QuickLook/*.qlgenerator
qlmanage -r >/dev/null 2>&1 || true && echo "~~ quicklook extensions have been configured"


{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

{{ range .packages.linux.ppa -}}
sudo apt-add-repository --yes {{ . | quote }}
{{ end -}}

sudo apt-get update

{{ range .packages.linux.apt -}}
sudo apt-get install --yes {{ . | quote }}
{{ end -}}

{{ end -}}
{{ end -}}
