#!/usr/bin/env bash

set -euo pipefail
{{- if (eq .chezmoi.os "darwin") -}}
echo "/opt/homebrew/bin/fish" | sudo tee -a /etc/shells
chsh -s /opt/homebrew/bin/fish

{{ else if eq .chezmoi.os "linux" }}

sudo -u nkl chsh -s /usr/bin/fish

{{ end -}}