age        1.1.1
awscli     2.11.18
elixir     1.12.3-otp-24
flux2      latest
fzf        latest
golang     1.20.4
helm       3.12.0
hugo       extended_0.102.3
jq         1.6
k9s        latest
kubectl    latest
kubectx    0.9.4
kubefwd    1.22.5
kustomize  5.0.2
lazygit    0.38.2
mongosh    1.6.0
neovim     0.9.1
nodejs     20
pre-commit 3.3.1
ruby       latest
rust       1.71.0
skaffold   2.4.0
sops       3.7.3
stern      1.25.0
swaks      20201014.0
terraform  latest
gcloud     latest
krew       latest
pulumi     latest
