export PATH=$PATH:/opt/homebrew/bin:/opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin:/usr/bin:/bin:/usr/local/bin:/usr/sbin:$HOME/.local/bin
export EDITOR=nvim
export HISTSIZE=1000000000
export SAVEHIST=$HISTSIZE
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8 
export ZSH_DISABLE_COMPFIX=true

{{- if (eq .chezmoi.os "darwin") -}}
export SSH_AUTH_SOCK=~/.1password/agent.sock
export GITHUB_TOKEN={{ onepasswordRead "op://Private/Github Personal Access Token/token" "my" }}
{{ end -}}
