export PATH=$HOME/.local/share/mise/shims:/opt/homebrew/bin:/usr/bin:/bin:/usr/local/bin:/usr/sbin:$HOME/.local/bin:$HOME/bin:${KREW_ROOT:-$HOME/.krew}:$PATH
export EDITOR=nvim
export HISTSIZE=1000000000
export SAVEHIST=$HISTSIZE
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export ZSH_DISABLE_COMPFIX=true


{{- if (eq .chezmoi.os "darwin") }}
export SSH_AUTH_SOCK=~/.1password/agent.sock
export GITHUB_TOKEN={{ onepasswordRead "op://Private/Github Personal Access Token/token" "my" }}
export XDG_CONFIG_HOME="$HOME/.config"

export CPPFLAGS="-I$(brew --prefix)/include"
export LDFLAGS="-L$(brew --prefix)/lib"
{{ end -}}
