# Disable fish greeting
set -g fish_greeting

# Set Dracula theme
fish_config theme choose "Dracula Official"

# Add correct paths
fish_add_path "{{ .chezmoi.homeDir }}/.local/share/mise/shims"
fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path "{{ .chezmoi.homeDir }}/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.krew/bin"
{{- if (eq .chezmoi.os "darwin") }}
fish_add_path /opt/homebrew/bin
{{ end }}

# Set envs
set -gx EDITOR vim
set -gx LANG en_US.UTF-8
set -gx LC_ALL en_US.UTF-8
set -gx K9S_CONFIG_DIR $HOME/.config/k9s
set -gx XDG_CONFIG_HOME $HOME/.config

{{- if (eq .chezmoi.os "darwin") }}
set -gx HOMEBREW_NO_ANALYTICS 1
set -gx GITHUB_TOKEN {{ onepasswordRead "op://Private/Github Personal Access Token/token" "my" }}
set -gx OPENAI_API_KEY {{ onepasswordRead "op://Private/OpenAI key/apikey" "my" }}
set -gx SSH_AUTH_SOCK {{ .chezmoi.homeDir }}/.1password/agent.sock
set -gx CPPFLAGS -I/opt/homebrew/include
set -gx LDFLAGS -L/opt/homebrew/lib
{{ end }}

# theme setup
set -gx tide_pwd_icon " "
set -gx tide_pwd_icon_home " "
set -gx tide_left_prompt_items context pwd git character
set -gx tide_right_prompt_items status cmd_duration jobs direnv node python ruby go gcloud kubectl terraform elixir time
set -gx tide_show_kubectl_on kubectl helm kubens k kubectx stern
set -gx tide_show_gcloud_on gcloud
set -gx tide_kubectl_icon "⎈"
set -gx tide_kubectl_color "blue"
set -gx tide_git_icon " "
set -gx tide_cmd_duration_icon ""


# Set aliases
alias k 'kubectl'
alias vim 'nvim'
alias df 'df -h'
alias mkdir 'mkdir -p -v'
alias ll 'ls -lha'
alias lg 'lazygit'
alias wezupdate 'brew upgrade --cask wez/wezterm/wezterm-nightly --no-quarantine --greedy-latest'

# Activate mise
eval "$({{ .chezmoi.homeDir }}/.local/bin/mise activate fish)"

# Init direnv
if type -q direnv
    direnv hook fish | source
end

# Use atuin only for history sync
if type -q atuin
  atuin init fish --disable-up-arrow | source
end

# Zoxide init
if type -q zoxide
    zoxide init fish | source
end
